#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #lightblue;
  color: #fff;
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
}
h1{
  color:skyblue;
  font-family: 'Shadows Into Light', cursive;
}
