
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  /* font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; */

}

body {
  background-color: red;
  color: yellow;
  text-align: center;
  font-size: 2em;
  font-family: 'Modak', cursive;
}

.my-fun-class {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

p{
  font-size: 1em;
  font-family: 'Montserrat Subrayada', sans-serif;
}
/* level 2 select elements by their type selected only the p type. I changed the font of the text and the size too.
 */

 p, .my-fun-class{
   color:forestgreen;
 }
 /* level 9 Comma Combinator Combine, selectors, with... commas! I added the color to bothe p and the class.
  */
div + p{
    font-family: 'Modak', cursive;
}
/* Adjacent Sibling Selector Select an element that directly follows another element. The element select is the p element that follows under div. There's two p elements and O selected the one uner div */
img:first-child{
  width: 40%;
  padding: 2em;
}
/* First Child Pseudo-selector
Select a first child element inside of another element. Only selected the firsr child element in images. */
div:empty{
  color: red;
}
/* Empty Selector
Select elements that don't have children. I selcted all the elements that does not have a children element. */
